@CHARSET "UTF-8";
body {
  background-color: #FAF6EC;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

header {
  text-align: center;
  padding: 20px 20px 0 20px;
}

header h2 {
  font-size: 4em;
  color: #27B8DB;
  margin-top: 10px;
  margin-bottom: 0;
}

#yes, #no {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 68px;
  font-size: 25px;
}

#yes {
  background: #73CC65;
}

#no {
  background: #D86969;
}

.half {
  width: 50%;
  display: inline-block;
}

#label .half:first-child {
  text-align: right;
}

#playground {
  height: 40%;
}

#yes-area, #no-area {
  height: 100%;
}

#graph {
  height: 40px;
  background: #D86969;
  margin-bottom: 1px;
}

#graph-yes {
  width: 50%;
  height: 100%;
  background: #73CC65;
  display: inline-block;
}

footer {
  clear: both;
  margin-top: 10px;
  border-top: 2px solid #333333;
  padding-top: 5px;
}

footer h3 {
  color: #676869;
  font-size: 2em;
  display: inline;
  line-height: 80px;
  margin-left: 10px;
  margin-right: 5px;
}

#waiting {
  display: inline;
}

.player {
  margin-right: 3px;
}
.player.answered {
  position: absolute;
}

#answer #yes,
#answer #no {
  width: 90%;
  height: 40%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  padding-top: 40%;
  cursor: pointer;
  font-size: 120px;
}

#answer #yes:active,
#answer #yes.active {
  background-color: #5DA652;
}

#answer #no:active,
#answer #no.active {
  background-color: #AD5556;
}
#answer .half {
  text-align: center;
}

#answer #question {
  min-height: 20%;
}

.lightbox {
  display: none;
}

.closed .lightbox {
  display: block;
  background-color: #000000;
  opacity: .8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
}

.closed .lightbox span {
  color: #ffffff;
  font-size: 5em;
  opacity: 1;
}

#question {
  min-height: 100px;
}

.percentage {
  position: absolute;
  line-height: 40px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}
.percentage.yes {
  left: 5px;
}
.percentage.no {
  right: 0;
}

#counter {
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -100px;
  z-index: 100;
  display: none;
}