@CHARSET "UTF-8";
body {
	font-size: 12px;
}
em {
   font-style: none;
}
#container {
   width: 960px;
   margin: 0 auto;
   color: #222526;
}
header {
   width: 900px;
   border:none;
   -moz-border-radius: 28px;
   -webkit-border-radius: 28px;
   border-radius: 28px;
   background-color: #ffbb6e;
   text-align: center;
   padding: 10px;
   font-size: 1.8em;
}

header h2 {
	margin: 10px 0;
}
#main {
   width: 970px;
}
#yes, #no {
   float: left;
   width: 400px;
   height: 200px;
   margin:10px 25px 30px 25px;
   -moz-border-radius: 35px;
   -webkit-border-radius: 35px;
   border-radius: 35px;
   text-align: center;
   font-size: 8em;
}
#yes .background, #no .background {
   position:absolute;
   width:400px;
}
#yes {
   border: dashed 5px #90baf2;
   color: #90baf2;
   cursor: pointer;
}
#no {
   border: dashed 5px #f290ac;
   color: #f290ac;
   cursor: pointer;
}
footer {
   clear: both;
}
.circle {
   display: block;
   display: block;
   width: 30px;
   height: 30px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   float: left;
   margin: 3px;
   position: relative;
}
.me {
   background: #7f203b;
}
.others {
   background: #d94f00;
}
.respondents {
   position:relative;
}

#countdown {
	position: fixed;
	width: 400px;
	min-height: 350px;
	color: #FFF;
	background-color: #000;
	top: 20px;
	-moz-border-radius: 35px;
   -webkit-border-radius: 35px;
   border-radius: 35px;
   text-align: center;
   font-size: 20em;
   padding: 5px;
}